@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Slab", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #000000db;
}
.container{
    text-align: center;
    background-color: rgb(255, 183, 0);
    padding: 50px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(255,255,255,0.2);
}

.container h1{
    font-size: 40px;
    margin: 27px 0;
}
input{
    width: 80px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
button{
    padding: 10px 20px;
    border: none;
    background-color: rgb(8, 126, 8);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

}

button:hover{
    background-color: red;
}

.stop-btn{
    background-color: #555;
}
.stop-btn:hover{
    background-color: #000000db;
}

.timer{
    font-size: 40px;
    margin-top: 45px;
    font-weight: bold;
}